@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  --magic: rgba(128, 81, 255, 1);
}
#search-bar {
  @apply p-3 text-base;
}

#fav-btn {
  @apply h-fit px-4 py-3 bg-[var(--magic)] text-white;
}

#items-per-page {
  width: 50px;
}

.Polaris-DataTable__Cell:nth-child(1),
.Polaris-DataTable__HeaderCell:nth-child(1) {
  width: 45%;
}

.Polaris-DataTable__Cell:nth-child(2),
.Polaris-DataTable__HeaderCell:nth-child(2) {
  width: 8%;
}

.Polaris-DataTable__Cell:nth-child(3),
.Polaris-DataTable__HeaderCell:nth-child(3) {
  width: 10%;
}

.Polaris-DataTable__Cell:nth-child(4),
.Polaris-DataTable__HeaderCell:nth-child(4) {
  width: 15%;
}

.Polaris-DataTable__Cell:nth-child(5),
.Polaris-DataTable__HeaderCell:nth-child(5) {
  width: 17%;
}
.Polaris-DataTable__Cell:nth-child(6),
.Polaris-DataTable__HeaderCell:nth-child(6) {
  width: 5%;
}
